{% extends "admin/change_form.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
    (function($) {
            $(document).ready(function() {
                var timeout;
                var contrataciones_list = [];
                $(document).find("#id_contratacion").parent().append('<input id="prefilter">');
                $(document).find("#id_contratacion").parent().append('<ul id="prefilterList"></ul>');
                $(document).find("#id_contratacion").hide();

                $(document).find("#id_contratacion option").each(function(){
                    //console.log($(this).attr("value"));
                    if ($(this).attr("value") != "") {
                        var element = {"value": $(this).attr("value"),
                            "dni": $.trim($(this).html().split("-")[0]),
                            "string": $(this).html()};
                        contrataciones_list.push(element);
                    }
                });

                console.log(contrataciones_list);

                $(document).find("#prefilter").keyup(function() {
                    clearTimeout(timeout);
                    timeout = setTimeout(loadList, 2000);
                });

                function loadList(){
                    $(document).find("#prefilterList").html('');
                    var arg = $(document).find("#prefilter").val();
                    $.each(contrataciones_list, function (key, val){
                        if (val.dni.indexOf(arg) >= 0) {
                            var li = '<li value="'+val.value+'">'+val.string+'</li>';
                            $(document).find("#prefilterList").append(li);
                        }
                    });
                }
            });
    })(jQuery);
</script>
{{ media }}
{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
</form>
{% endblock %}